<?xml version="1.0" encoding="utf-8"?>
<!--
  <e-Adventure> Mobile for Android(TM) is a port of the <e-Adventure> research project to 	the Android(TM) platform.
         
           Copyright 2009-2012 <e-UCM> research group.
         
           <e-UCM> is a research group of the Department of Software Engineering
            and Artificial Intelligence at the Complutense University of Madrid
            (School of Computer Science).
         
            C Profesor Jose Garcia Santesmases sn,
            28040 Madrid (Madrid), Spain.ead-legacy-android-dama-boba.apk
        
            For more info please visit:  <http://e-adventure.e-ucm.es/android> or
            <http://www.e-ucm.es>
         
         	 *Android is a trademark of Google Inc.
        	
         ****************************************************************************
      	 This file is part of <e-Adventure> Mobile, version 1.0.
      
     	 Main contributors - Roberto Tornero
      
      	 Former contributors - Alvaro Villoria 
      						    Juan Manuel de las Cuevas
      						    Guillermo Martin 	
     
      	 Directors - Baltasar Fernandez Manjon
      				Eugenio Marchiori
      
          	 You can access a list of all the contributors to <e-Adventure> Mobile at:
                 	http://e-adventure.e-ucm.es/contributors
         
         ****************************************************************************
              <e-Adventure> Mobile is free software: you can redistribute it and/or modify
             it under the terms of the GNU Lesser General Public License as published by
             the Free Software Foundation, either version 3 of the License, or
             (at your option) any later version.
         
             <e-Adventure> Mobile is distributed in the hope that it will be useful,
             but WITHOUT ANY WARRANTY; without even the implied warranty of
             MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
             GNU Lesser General Public License for more details.
         
             See <http://www.gnu.org/licenses/>
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	
	package="es.eucm.androidgames.damaboba" android:versionCode="701"
	android:versionName="7.0.1">
	
	<!-- ###############################################################
	 1) Replace YOUR_GAME_NAME_HERE in the line above by the name of the game. Type it exactly as 
	    you did when you created the es.eucm.androidgames.yourgame package containing 3 classes 
	    (SCoreActivity, SCoreVideo, StandaloneSplashScreen).
	    
	    Example:
	    
	    es.eucm.androidgames.damaboba
	 ############################################################### -->    
	
    <uses-sdk android:minSdkVersion="10" />
    
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--  <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>-->
	<uses-permission android:name="android.permission.VIBRATE" />
	
	<application 
	    android:label="La Dama Boba"
		android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar"
		android:icon="@drawable/standalone_game_icon">

		 <!-- ###############################################################
		 2) Replace ##APPLICATION LABEL HERE## in the line above by the App's label you want the user
		    to see. You can either use the i18n or type it directly here 
		    
		    Example:
		    
		    La Dama Boba
		 ############################################################### -->    
	    
		<!-- ###############################################################
		 2*) Remember to setup android:debuggable to false before you put the app in production!
		 ############################################################### -->    
	    		
		<activity android:name="StandaloneSplashScreen" android:screenOrientation="portrait">
		    <meta-data android:name="es.eucm.eadandroid.launchgame" android:value="La Dama Boba" />
			 <!-- ###############################################################
			 3) Replace ###GAME FILE NAME HERE### in the line above by the name of the Game's EAD file you want
			    your app to launch. Type it exactly as it is shown in the filename under the assets folder
			    
			    Example:
			    
			    If your game file is shown as 'LA DAMA BOBA.ead' under assets, then you should replace
			    '###GAME FILE NAME HERE###' by 'LA DAMA BOBA' 
			 ############################################################### -->    
		    		    
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />			
				<category android:name="android.intent.category.LAUNCHER" />			
			</intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.ead" /> -->
            </intent-filter>
		</activity>

		<activity android:name=".SCoreActivity"
			android:alwaysRetainTaskState="true" android:screenOrientation="landscape"></activity>				
		<activity android:name=".ScoreVideo"
			android:screenOrientation="landscape"></activity>
		
	</application>
	
</manifest> 
